#choices {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

#results {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}
