body {
  font-family: sans-serif;
}

div {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

#choices {
  padding-bottom: 15px;
}

#score {
  padding-top: 7px;
}
